.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  
  }
  
  td, th {
    width: 25%;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  button {
    margin-right: 8px;
  }
  .main-div{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .example-container {
    height: 300px;
    max-width: 100%;
    overflow: auto;
  }