<mat-toolbar color="primary" style="display: none;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Distribution Pipeline Config Settings</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="warn" (click)="openDialog()">Add Transfer</button>

</mat-toolbar>
<div class="container" style="display: none;">
  <div style="margin-top:10px">
    <form [formGroup]="TransfersForm">
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Select Transfer</mat-label>
        <!-- <mat-select name="TransferIds" formControlName="TransferIds" [(ngModel)]="selectedTransfer">
          <mat-option (click)="GetChildTransfers(trans.TransferId)" *ngFor="let trans of lstTransfers"
            [value]="trans.TransferConfigItemId">
            {{trans.ConfigValue}}
          </mat-option>
        </mat-select> -->

        <mat-select name="TransferIds" formControlName="TransferIds" [(ngModel)]="selectedTransfer">
          <mat-option (click)="GetChildTransfers(trans.transferId)" *ngFor="let trans of lstTransfers"
            [value]="trans.transferId">
            {{trans.configValue}}
          </mat-option>
        </mat-select>


      </mat-form-field>



    </form>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <div class="main-div" *ngIf="showSpinner">
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
      </div>
      <table mat-table *ngIf="!showSpinner" [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="TransferConfigItemId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TransferConfigItemId </th>
          <td mat-cell *matCellDef="let row"> {{row.transferConfigItemId}} </td>
        </ng-container>

        <ng-container matColumnDef="TransferId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TransferId </th>
          <td mat-cell *matCellDef="let row"> {{row.transferId}} </td>
        </ng-container>


        <!-- Progress Column -->
        <ng-container matColumnDef="ConfigName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ConfigName </th>
          <td mat-cell *matCellDef="let row"> {{row.configName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ConfigValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ConfigValue </th>
          <td mat-cell *matCellDef="let row"> {{row.configValue}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="action" style="width:100px">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button (click)="editTransfer(row)" mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <!-- <button (click)="deleteTransfer(row.TransferConfigItemId)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button> -->
            <!-- <button mat-raised-button (click)="openConfirmDialog('0ms', '0ms')">Open dialog without animation</button> -->
            <button (click)="openConfirmDialog('0ms', '0ms',row.transferConfigItemId)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>
      <button *ngIf="!showSpinner" (click)="addTransfer()" mat-icon-button color="primary" style="text-align: right;">
        Add new record
        <mat-icon>add</mat-icon>
      </button>
      <!-- <li><a routerLink="test-ui" routerLinkActive="active" ariaCurrentWhenActive="page">test Component</a></li> -->



      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of transfers"></mat-paginator>
    </div>
  </div>
</div>
<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <li><a [routerLink]="['test']">test Component</a></li>
    <li><a [routerLink]="['test2']">test Component 2</a></li>
    <li><a [routerLink]="['config']">Config Settings</a></li>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container> -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  /* height: 1000px; */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
</head>
<body>
<div class="sidebar"> 
  <a [routerLink]="['Transfer']">Transfer</a>
  <a [routerLink]="['MasterTransfer']">Master Transefer</a>
  <!-- <a [routerLink]="['MasterTransferMapping']">Master Transefer1</a> -->

</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
   
</body>
</html> 
  